:root {
	--dummy: white;
	--indexwidth: 100px;
	--productindex-width: 150px;
}

body {
	font-family: mono;
}

div.product_index {
	width: var(--productindex-width);
	float: left;
}

div.index {
	width: var(--indexwidth);
	float: left;
	margin-top: var(--header-heigth);
}

div.mapframe {
	float: left;
}
